version: "3.9"

services:
  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_db
    ports:
      - "5433:5432"
    networks:
      - growly
    volumes:
      - auth_data:/var/lib/postgresql/data
      - ../growly-auth-service/db-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auth_db"]
      interval: 10s
      timeout: 3s
      retries: 10

  habit-db:
    image: postgres:15
    container_name: habit-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: habit_db
    ports:
      - "5434:5432"
    networks:
      - growly
    volumes:
      - habit_data:/var/lib/postgresql/data
      - ../growly-habit-service/db-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d habit_db"]
      interval: 10s
      timeout: 3s
      retries: 10

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - growly

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    ports:
      - "9092:9092"
    networks:
      - growly
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - growly
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 10

  eureka-server:
    build: ../growly-eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - growly

  api-gateway:
    build: ../growly-api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    networks:
      - growly
    depends_on:
      - eureka-server

  auth-service:
    build: ../growly-auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    networks:
      - growly
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/auth_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

      ADMIN_USERNAME: admin
      ADMIN_EMAIL: admin@example.com
      ADMIN_PASSWORD: ChangeMe_123!
      USER_USERNAME: user
      USER_EMAIL: user@example.com
      USER_PASSWORD: user123!
      # ADMIN_RESET_PASSWORD: "true"
      # USER_RESET_PASSWORD: "true"

    depends_on:
      auth-db:
        condition: service_healthy
      eureka-server:
        condition: service_started
      kafka:
        condition: service_started
      redis:
        condition: service_healthy

  habit-service:
    build: ../growly-habit-service
    container_name: habit-service
    ports:
      - "8082:8082"
    networks:
      - growly
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://habit-db:5432/habit_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      habit-db:
        condition: service_healthy
      eureka-server:
        condition: service_started
      kafka:
        condition: service_started

  notification-service:
    build: ../growly-notification-service
    container_name: notification-service
    ports:
      - "8083:8083"
    networks:
      - growly
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      kafka:
        condition: service_started
      eureka-server:
        condition: service_started

  main-ui:
    build:
      context: ../growly-main-ui
    container_name: main-ui
    ports:
      - "5173:80"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - growly
    depends_on:
      - api-gateway

volumes:
  auth_data:
  habit_data:

networks:
  growly:
    driver: bridge